.Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: initial;
    margin-top: 10%;
    justify-content: flex-start;
    color: #00a9ff;
    align-items: center;
}

.Title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00a9ff;
    width: 63.2%;
    height: 5%;
  }
  