.Container {
    height: 100%;
    width: 100%;
    color: white;
    background-color: #623bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Title {
    width: 62%;
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.SecondTitle {
    width: 450px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Text {
    width: 85%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}